.idea
node_modules
.DS_Store
.htaccess
wp-config.php
*.codekit
wp/wp-admin
wp/wp-includes
wp/wp-content/themes/domsters-underscores/
wp/wp-content/themes/twentyseventeen/
wp/wp-content/themes/twentysixteen/
wp/wp-content/themes/twentyfifteen/
wp/wp-*.*php
build
plugins
wp/readme.html
wp/license.txt
wp/index.php
*.log
